<!-- contacto.html -->
{% extends "index.html" %}

{% block content %}
<h1>Contacto</h1>
<p>Bienvenido a la página de contacto. Aquí puedes ponerte en contacto con nosotros.</p>
<hr>
<h2> Teléfonos de información </h2>
<p>Telefono de contacto para organizar tu evento: 123 - 456 - 789.</p>
<p>Whatsapp: 987 - 654 - 321.</p>
<hr>
<h2> Escribenos si lo deseas a:  </h2>
<p>Correo electronico: alberto.campanero.arevalo.</p>
<hr>
<h2> Dirección </h2>
<p>Calle Falsa 123</p>
<p>Toledo</p>

{% endblock %}
