{% extends "index.html" %}

{% block content %}
<section>
    <h1><strong>Información sobre nosotros</strong></h1>
    <hr>
    <h3>Empresa de gestión de eventos de coches clásicos.</h3>
    <hr>
    <p> Llevamos a cabo esta fantastica colección de coches antiguos para que los amantes del motor conozcan en profundidad los vehiculos.</p>
    <p> Empresa familiar ligada a la información de vehículos.</p>
    <p> Contacta con nosotros en  para hacer este evento en tu localidad <a class="nav-link" href="{{ url_for('contacto') }}"><strong>contacto</strong>.</a></p>
    <hr>
    <p> Gracias a nosotros, nuestros vehículos clásicos sirven como cultura en nuestro país para que las nuevas generaciones conozcan dichos vehiculos.</p>
    <p> Disfruta de la pasión del motor con Campaneros Cars S.L.</p>


</section>
{% endblock %}


